.scan .fingerprint {
  background: url(../assets/images/preloader-image.png);
  background-size: 300px;
}

.scan .fingerprint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/preloader-before.png);
  background-size: 300px;
  /* animation: animate 4s ease-in-out infinite; */
}

@keyframes animate {

  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 100%;
  }
}

.scan .fingerprint::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #B13BFF;
  border-radius: 8px;
  filter: drop-shadow(0 0 20px #B13BFF) drop-shadow(0 0 60px #B13BFF);
  animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {

  0%,
  100% {
    top: 0%;
  }

  50% {
    top: 100%;
  }
}

.scan h3 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 20px;
  color: #B13BFF;
  filter: drop-shadow(0 0 20px #B13BFF) drop-shadow(0 0 60px #B13BFF);
  animation: animate_text 0.5s steps(1) infinite;
}

@keyframes animate_text {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .scan .fingerprint {
    background: url(../assets/images/preloader-image.png);
    background-size: 150px;
    background-repeat: no-repeat;
  }

  .scan .fingerprint::before {
    background-size: 150px;
    background-repeat: no-repeat;
  }

  .scan h3 {
    font-size: 1.5em;
    margin-top: 0;
  }

  @keyframes animate_line {

    0%,
    100% {
      top: 0%;
    }

    50% {
      top: 85%;
    }
  }
}